<h1>Editer l'article</h1>


<%= form_for @article do |f| %>

<div class="form-group">

  <label>Titre de l'article</label>

  <%= f.text_field :name %>

</div>
  <%= f.text_field :title %>
  <%= f.text_area :body, :size => "60x12" %>
  <%= submit_tag "Create" %>

<% end %>

